@use "../presets/skin" as *;
@use "../presets/variables" as *;

.app {
  width: 1000px;
  margin: 0 auto;
}

.app-header {
  padding: 30px;

  text-align: center;
}

.app-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 50px;
}

.app-title {
  font-family: $font-header;
}

.app-subtitle {
  color: $color-text;
}

.app-link {
  text-decoration: none;

  color: $color-text-accent;
}

.app-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.app-action {
  width: 210px;
  padding: 10px;
}

.instruction {
  margin-top: 10px;
  margin-left: 62vw;

  text-align: left;

  font-family: $font-main;
  font-size: $font-size;

  &-accent {
    font-weight: 900;
  }
}
