@use "../presets/skin" as *;
@use "../presets/variables" as *;

.shine-button {
  position: relative;

  display: inline-block;
  overflow: hidden;

  margin: 5px;
  padding: 5px 10px;

  transition: 0.2s ease-in-out;
  text-decoration: none;

  color: $color-menu;
  border: $menu-border solid $color-menu-border;
  border-radius: 8px;
  background-color: $color-menu-background;

  font-family: "Montserrat", sans-serif;
}

.shine-button:before {
  position: absolute;
  top: -8px;
  left: -75px;

  width: $menu-button-size;
  height: $menu-button-size;

  content: "";
  transform: skewX(-45deg);

  background: linear-gradient(
    90deg,
    rgba($color-menu-background, 0.1),
    rgba($color-menu-background, 0.5)
  );
}

.shine-button:hover {
  color: $color-menu-background;
  background: $color-menu;
}

.shine-button:hover:before {
  left: 150px;

  transition: 0.5s ease-in-out;
}

.instruction-accent {
  margin-right: calc($gap / 2);

  font-weight: bold;
}
