* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.app-header {
  text-align: center;
  padding: 30px;
}

.app-body {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-subtitle {
  color: gray;
}

.app-link {
  text-decoration: none;
  color: rgb(189, 112, 24);
}

.battlefield {
  position: relative;
}

.battlefield-table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: rgba(96, 40, 250, 0.05);
}

.battlefield-item {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 21, 253, 0.15);
}

.battlefield-item__active {
  background-color: rgba(219, 66, 233, 0.2);
}

.battlefield-status {
  text-align: center;
  padding: 20px;
}

.marker {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.marker-row {
  left: -35px;
}

.marker-column {
  top: -35px;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  margin: -3px;
  border: 3px solid #fe6637;
  background: repeating-linear-gradient(
    -60deg,
    rgba(255, 174, 0, 0.568) 0,
    rgba(255, 230, 0, 0.534) 1px,
    transparent 1px,
    transparent 5px
  );
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.ship-row-2 {
  width: 65px;
}

.ship-row-3 {
  width: 98px;
}

.ship-row-4 {
  width: 131px;
}

.ship-column-2 {
  height: 65px;
}

.ship-column-3 {
  height: 98px;
}

.ship-column-4 {
  height: 131px;
}

.app-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-action {
  width: 210px;
  padding: 10px;
}

.instruction {
  margin-top: 10px;
  text-align: left;
  margin-left: 62vw;
  font-weight: 900;
}

li {
  list-style-type: none;
  padding: 5px 0;
}

.instruction-accent {
  margin-right: 10px;
  font-weight: bold;
}

.shot {
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.shot-missed {
  color: red;
  background-color: rgba(0, 217, 255, 0.096);
}

.shot-wounded {
  background: #fbdede;
  z-index: 1;
}

.shot-wounded::after {
  content: " ";
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  top: 9px;
  left: -20px;
}

.shot-wounded::before {
  content: " ";
  width: calc(32px * 1.3);
  height: calc(32px * 1.3);
  border-top: 2px solid red;
  position: absolute;
  z-index: -1;
  transform: rotate(-45deg);
  top: 9px;
  left: 9px;
}

.shot-killed {
  margin: -3px;
  border: 3px solid red;
}

.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 3px solid #fe6637;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #fe6637;
  transition: 0.2s ease-in-out;
}
.shine-button:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #fe6637;
  color: #fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.hidden {
  display: none;
}
