* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
}

li {
  padding: 5px 0;
  list-style-type: none;
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.app-header {
  padding: 30px;
  text-align: center;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.app-title {
  font-family: "Roboto Slab", serif;
}

.app-subtitle {
  color: #808080;
}

.app-link {
  text-decoration: none;
  color: #fe6637;
}

.app-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.app-action {
  width: 210px;
  padding: 10px;
}

.instruction {
  margin-top: 10px;
  margin-left: 62vw;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.instruction-accent {
  font-weight: 900;
}

.shine-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  padding: 5px 10px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #fe6637;
  border: 3px solid #fe6637;
  border-radius: 8px;
  background-color: #ffff;
  font-family: "Montserrat", sans-serif;
}

.shine-button:before {
  position: absolute;
  top: -8px;
  left: -75px;
  width: 50px;
  height: 50px;
  content: "";
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
}

.shine-button:hover {
  color: #ffff;
  background: #fe6637;
}

.shine-button:hover:before {
  left: 150px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.instruction-accent {
  margin-right: 10px;
  font-weight: bold;
}

.battlefield {
  position: relative;
}

.battlefield-table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: rgba(96, 40, 250, 0.05);
}

.battlefield-item {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 21, 253, 0.15);
}

.battlefield-item__active {
  background-color: rgba(219, 66, 233, 0.2);
}

.battlefield-status {
  padding: 20px;
  text-align: center;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: bold;
}

.marker-row {
  left: -35px;
}

.marker-column {
  top: -35px;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  margin: -3px;
  cursor: pointer;
  border: 3px solid #fe6637;
  background: -o-repeating-linear-gradient(150deg, rgba(255, 174, 0, 0.568) 0, rgba(255, 230, 0, 0.534) 1px, transparent 1px, transparent 5px);
  background: repeating-linear-gradient(-60deg, rgba(255, 174, 0, 0.568) 0, rgba(255, 230, 0, 0.534) 1px, transparent 1px, transparent 5px);
}

.ship-row-2 {
  width: 65px;
}

.ship-row-3 {
  width: 98px;
}

.ship-row-4 {
  width: 131px;
}

.ship-column-2 {
  height: 65px;
}

.ship-column-3 {
  height: 98px;
}

.ship-column-4 {
  height: 131px;
}

.shot {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
}

.shot-missed {
  color: #ff0000;
  background-color: rgba(0, 217, 255, 0.096);
}

.shot-wounded {
  z-index: 1;
  background: #fbdede;
}

.shot-wounded::after {
  position: absolute;
  z-index: -1;
  top: 9px;
  left: -20px;
  width: 41.6px;
  height: 41.6px;
  content: " ";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid #ff0000;
}

.shot-wounded::before {
  position: absolute;
  z-index: -1;
  top: 9px;
  left: 9px;
  width: 41.6px;
  height: 41.6px;
  content: " ";
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 2px solid #ff0000;
}

.shot-killed {
  margin: -1px;
  border: 1px solid #ff0000;
}

.hidden {
  display: none;
}