@use "../presets/skin" as *;
@use "../presets/variables" as *;

.battlefield {
  position: relative;
}

.battlefield-table {
  border-spacing: 0;

  border-collapse: collapse;
  background-color: rgba($color-battlefield, 0.05);
}

.battlefield-item {
  position: relative;

  width: $cell-size;
  height: $cell-size;

  border: $battlefield-border solid rgba($color-battlefield-border, 0.15);
}

.battlefield-item__active {
  background-color: rgba($color-battlefield-accent, 0.2);
}

.battlefield-status {
  padding: $gap;

  text-align: center;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: $cell-size;
  height: $cell-size;

  text-align: center;

  font-weight: bold;
}

.marker-row {
  left: -35px;
}

.marker-column {
  top: -35px;
}
