@use "../presets/skin" as *;
@use "../presets/variables" as *;

.ship {
  position: absolute;
  top: 0;
  left: 0;

  width: $cell-size;
  height: $cell-size;
  margin: calc($border-size * -1);

  cursor: pointer;

  border: $border-size solid $color-ship-border;
  background: repeating-linear-gradient(
    -60deg,
    rgba($color-ship-background, 0.568) 0,
    rgba($color-ship-strokes, 0.534) 1px,
    transparent 1px,
    transparent 5px
  );
}

.ship-row-2 {
  width: calc($cell-size * 2 + $battlefield-border);
}

.ship-row-3 {
  width: calc($cell-size * 3 + $battlefield-border * 2);
}

.ship-row-4 {
  width: calc($cell-size * 4 + $battlefield-border * 3);
}

.ship-column-2 {
  height: calc($cell-size * 2 + $battlefield-border);
}

.ship-column-3 {
  height: calc($cell-size * 3 + $battlefield-border * 2);
}

.ship-column-4 {
  height: calc($cell-size * 4 + $battlefield-border * 3);
}
