$color-battlefield: #6028fa;
$color-battlefield-accent: #db42e9;
$color-battlefield-border: #0015fd;

$color-ship-border: #fe6637;
$color-ship-background: #ffae00;
$color-ship-strokes: #ffe600;

$color-shot-missed-point: #ff0000;
$color-shot-missed-background: #00d9ff;
$color-shot-wounded-border: #ff0000;
$color-shot-wounded-background: #fbdede;

$color-menu: #fe6637;
$color-menu-border: #fe6637;
$color-menu-background: #ffff;

$color-text: #808080;
$color-text-accent: #fe6637;
