$font-header: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$font-size: 16px;

$battlefield-border: 1px;
$cell-size: 32px;
$gap: 20px;
$border-size: 3px;

$menu-border: 3px;
$menu-button-size: 50px;
